In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import math
from tabulate import tabulate

pd.set_option('display.max_columns', 50)

## Functions needed

In [2]:
# For successive substitution method

# Single Variable

def ssfn1(x): return 2*math.sin(x)

def ssfn2(x): 
    x1,x2 = x
    # 2 functions
    return ((math.log(x2/1404.6)/math.log(0.97)),(math.sqrt((x1-9.8)/(1.1368*(10**-4)))))  
    # One function
    #return

### Successive Substitution algorithm

#### Single Variable

In [4]:
ITERATION  = 10
INITIAL = 1.0

iterNo = np.arange(1,ITERATION+1)

# For 1 variable 

Xi = []
Xi1 = []

norm = []

# For 2 variables 

#X1i = []
#X2i = []
#X1i1 = []
#X2i1 = []

curr = INITIAL
for _ in iterNo:
    
    # For 2 variables
    
    #x1,x2 = curr
    #X1i.append(x1)
    #X2i.append(x2)
    #curr = ssfn(curr)
    #X1i1.append(curr[0])
    #X2i1.append(curr[1])
    #norm.append((((X1i1[-1] - X1i[-1])/X1i[-1])**2)+(((X2i1[-1] - X2i[-1])/X2i[-1])**2))
    
    # For 1 variable 
    
    Xi.append(curr)
    curr = ssfn1(curr)
    Xi1.append(curr)
    norm.append((Xi1[-1] - Xi[-1])**2)
    
df = pd.DataFrame(np.array([iterNo,Xi,Xi1,norm]).T, columns=['IterNo','Xi','Xi+1','Norm'])
#df = pd.DataFrame(np.array([iterNo,X1i,X2i,X1i1,X2i1,norm]).T, columns=['IterNo','X1i','X2i','X1(i+1)','X2(i+1)','Norm'])
df.set_index('IterNo',inplace=True)
df

              Xi      Xi+1      Norm
IterNo
1.0     1.000000  1.682942  0.466410
2.0     1.682942  1.987437  0.092717
3.0     1.987437  1.828908  0.025131
4.0     1.828908  1.933748  0.010991
5.0     1.933748  1.869706  0.004101
6.0     1.869706  1.911316  0.001731
7.0     1.911316  1.885162  0.000684
8.0     1.885162  1.901985  0.000283
9.0     1.901985  1.891313  0.000114
10.0    1.891313  1.898146  0.000047

#### Multiple variables - 2 variables

In [5]:
ITERATION  = 10
INITIAL = (70.0,1000.0)

iterNo = np.arange(1,ITERATION+1)

# For 1 variable 

#Xi = []
#Xi1 = []

norm = []

# For 2 variables 

X1i = []
X2i = []
X1i1 = []
X2i1 = []

curr = INITIAL
for _ in iterNo:
    
    # For 2 variables
    
    x1,x2 = curr
    X1i.append(x1)
    X2i.append(x2)
    curr = ssfn2(curr)
    X1i1.append(curr[0])
    X2i1.append(curr[1])
    norm.append((((X1i1[-1] - X1i[-1])/X1i[-1])**2)+(((X2i1[-1] - X2i[-1])/X2i[-1])**2))
    
    # For 1 variable 
    
    #Xi.append(curr)
    #curr = ssfn(curr)
    #Xi1.append(curr)
    #norm.append((Xi1[-1] - Xi[-1])**2)
    
#df = pd.DataFrame(np.array([iterNo,Xi,Xi1,norm]).T, columns=['IterNo','Xi','Xi+1','Norm'])
df = pd.DataFrame(np.array([iterNo,X1i,X2i,X1i1,X2i1,norm]).T, columns=['IterNo','X1i','X2i','X1(i+1)','X2(i+1)','Norm'])
df.set_index('IterNo',inplace=True)
df

              X1i          X2i    X1(i+1)     X2(i+1)       Norm
IterNo
1.0     70.000000  1000.000000  11.154347  727.706431   0.780840
2.0     11.154347   727.706431  21.589863  109.149793   1.597780
3.0     21.589863   109.149793  83.875677  322.041881  12.127260
4.0     83.875677   322.041881  48.354057  807.227192   2.449171
5.0     48.354057   807.227192  18.185066  582.361971   0.466873
6.0     18.185066   582.361971  28.904746  271.588391   0.632258
7.0     28.904746   271.588391  53.948225  409.947836   1.010208
8.0     53.948225   409.947836  40.430399  623.181559   0.333340
9.0     40.430399   623.181559  26.680600  519.080001   0.143563
10.0    26.680600   519.080001  32.681409  385.346937   0.116961